# Output
bin
obj

*.cache

GameServer/BaseFramework/bin/
GameServer/BaseFramework/obj/

GameServer/Network/bin/
GameServer/Network/obj/

GameServer/Server/bin/
GameServer/Server/obj/

!GameServer/GameServer.sln